body {
    background-image: url(obrazky/GameBG.jpg);
    font-family: "Raleway", sans-serif;
    color: #c44206;
    margin: 0;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #301102;
}

.topnav a {
    float: left;
    color: #6b3f2b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #9e3403;
    color: black;
}

.topnav a.active {
    background-color: #e0a68b;
    color: white;
}

.topnav-right {
    float: right;
}

@font-face {
font-family: Regular;
src: url(font/galette-med.otf);
}
* {
font-family: Regular;
}