/* Starting */

body {
    background-image: url("obrazky/BGIT.jpg");
    font-family: "Raleway", sans-serif;
    color: #085d8a;
    margin: 0;
    text-align: center;
}


/*Navbar*/

.topnav {
    overflow: hidden;
    background-color: #060606;
}

.topnav a {
    float: left;
    color: #3dc3bc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color:#356867;
    color: black;
}

.topnav a.active {
    background-color: #3dc3bc;
    color: white;
}

.topnav-right {
    float: right;
}


/* Styling links */


/*unvisited*/

a:link {
    color: #085d8a;
}


/*visited*/

a:visited {
;
}


/*Hover link*/

a:hover {
    color: hotpink;
}


/* selected link */

a:active {
    color: blue;
}


/* Columns */

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@font-face {
font-family: Regular;
src: url(font/galette-med.otf);
}
* {
font-family: Regular;
}