img {
border-radius: 50%;
}


body {
    background-color: #a2ddf5;
    font-family: "Raleway", sans-serif;
    color: #085d8a;
    margin: 0;
    text-align: center;
}


/*Navbar*/

.topnav {
    overflow: hidden;
    background-color: #a4cce0;
}

.topnav a {
    float: left;
    color: #085d8a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #8ed5fa;
    color: black;
}

.topnav a.active {
    background-color: #085d8a;
    color: white;
}

.topnav-right {
    float: right;
}



.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

/* Footer */ 
footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%
background-color: #ffffff;
color: white;
text-align: center;


}

@font-face {
font-family: Regular;
src: url(font/galette-med.otf);
}
* {
font-family: Regular;
}