body {
background-color: #a2ddf5;
font-family: "Raleway", sans-serif;
color: #085d8a;
margin: 0;
text-align: center; 
}




/*Navbar*/
.topnav {
  overflow: hidden;
  background-color: #a4cce0;
}

.topnav a {
  float: left;
  color: #085d8a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #8ed5fa;
  color: black;
}

.topnav a.active {
  background-color: #085d8a;
  color: white;
}

.topnav-right {
  float: right;
}
